:root {
    --fds-black: #000000;
    --fds-black-alpha-05: rgba(0, 0, 0, 0.05);
    --fds-black-alpha-10: rgba(0, 0, 0, 0.1);
    --fds-black-alpha-15: rgba(0, 0, 0, 0.15);
    --fds-black-alpha-20: rgba(0, 0, 0, 0.2);
    --fds-black-alpha-30: rgba(0, 0, 0, 0.3);
    --fds-black-alpha-40: rgba(0, 0, 0, 0.4);
    --fds-black-alpha-50: rgba(0, 0, 0, 0.5);
    --fds-black-alpha-60: rgba(0, 0, 0, 0.6);
    --fds-black-alpha-80: rgba(0, 0, 0, 0.8);
    --fds-blue-05: #ECF3FF;
    --fds-blue-30: #AAC9FF;
    --fds-blue-40: #77A7FF;
    --fds-blue-60: #1877F2;
    --fds-blue-70: #2851A3;
    --fds-blue-80: #1D3C78;
    --fds-button-text: #444950;
    --fds-comment-background: #F2F3F5;
    --fds-dark-mode-gray-35: #CCCCCC;
    --fds-dark-mode-gray-50: #828282;
    --fds-dark-mode-gray-70: #4A4A4A;
    --fds-dark-mode-gray-80: #373737;
    --fds-dark-mode-gray-90: #282828;
    --fds-dark-mode-gray-100: #1C1C1C;
    --fds-dark-ui-wash: #000000;
    --fds-divider-on-wash: #CCD0D5;
    --fds-divider-on-white: #DADDE1;
    --fds-gray-00: #F5F6F7;
    --fds-gray-05: #F2F3F5;
    --fds-gray-10: #EBEDF0;
    --fds-gray-20: #DADDE1;
    --fds-gray-25: #CCD0D5;
    --fds-gray-30: #BEC3C9;
    --fds-gray-45: #8D949E;
    --fds-gray-70: #606770;
    --fds-gray-80: #444950;
    --fds-gray-90: #303338;
    --fds-gray-100: #1C1E21;
    --fds-green-55: #00A400;
    --fds-highlight: #3578E5;
    --fds-highlight-cell-background: #ECF3FF;
    --fds-negative: #FA383E;
    --fds-placeholder-text: #8D949E;
    --fds-positive: #00A400;
    --fds-primary-icon: #1C1E21;
    --fds-primary-text: #1C1E21;
    --fds-red-55: #FA383E;
    --fds-secondary-button-pressed: rgba(0, 0, 0, 0.05);
    --fds-secondary-icon: #606770;
    --fds-secondary-text: #606770;
    --fds-soft: cubic-bezier(.08, .52, .52, 1);
    --fds-spectrum-aluminum-tint-70: #E4F0F6;
    --fds-spectrum-blue-gray-dark-1: #4F5766;
    --fds-spectrum-blue-gray-tint-70: #CFD1D5;
    --fds-spectrum-cherry: #F35369;
    --fds-spectrum-cherry-tint-70: #FBCCD2;
    --fds-spectrum-grape-tint-70: #DDD5F0;
    --fds-spectrum-grape-tint-90: #F4F1FA;
    --fds-spectrum-lemon-dark-1: #F5C33B;
    --fds-spectrum-lemon-tint-70: #FEF2D1;
    --fds-spectrum-lime: #A3CE71;
    --fds-spectrum-lime-tint-70: #E4F0D5;
    --fds-spectrum-orange-tint-70: #FCDEC5;
    --fds-spectrum-orange-tint-90: #FEF4EC;
    --fds-spectrum-seafoam-tint-70: #CAEEF9;
    --fds-spectrum-slate-dark-2: #89A1AC;
    --fds-spectrum-slate-tint-50: #DCE5E9;
    --fds-spectrum-slate-tint-70: #EAEFF2;
    --fds-spectrum-teal: #6BCEBB;
    --fds-spectrum-teal-dark-1: #4DBBA6;
    --fds-spectrum-teal-dark-2: #31A38D;
    --fds-spectrum-teal-tint-70: #D2F0EA;
    --fds-spectrum-teal-tint-90: #F0FAF8;
    --fds-spectrum-tomato: #FB724B;
    --fds-spectrum-tomato-tint-30: #F38E7B;
    --fds-spectrum-tomato-tint-90: #FDEFED;
    --fds-strong: cubic-bezier(.12, .8, .32, 1);
    --fds-tertiary-icon: #8D949E;
    --fds-white: #FFFFFF;
    --fds-white-alpha-05: rgba(255, 255, 255, 0.05);
    --fds-white-alpha-10: rgba(255, 255, 255, 0.1);
    --fds-white-alpha-20: rgba(255, 255, 255, 0.2);
    --fds-white-alpha-30: rgba(255, 255, 255, 0.3);
    --fds-white-alpha-40: rgba(255, 255, 255, 0.4);
    --fds-white-alpha-50: rgba(255, 255, 255, 0.5);
    --fds-white-alpha-60: rgba(255, 255, 255, 0.6);
    --fds-white-alpha-80: rgba(255, 255, 255, 0.8);
    --fds-yellow-20: #FFBA00;
    --accent: hsl(214, 89%, 52%);
    --always-white: #FFFFFF;
    --always-black: black;
    --always-dark-gradient: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6));
    --always-dark-overlay: rgba(0, 0, 0, 0.4);
    --always-light-overlay: rgba(255, 255, 255, 0.4);
    --always-gray-40: #65676B;
    --always-gray-75: #BCC0C4;
    --always-gray-95: #F0F2F5;
    --attachment-footer-background: #F0F2F5;
    --base-blue: #1877F2;
    --base-cherry: #F3425F;
    --base-grape: #9360F7;
    --base-lemon: #F7B928;
    --base-lime: #45BD62;
    --base-pink: #FF66BF;
    --base-seafoam: #54C7EC;
    --base-teal: #2ABBA7;
    --base-tomato: #FB724B;
    --blue-link: #216FDB;
    --card-background: #FFFFFF;
    --card-background-flat: #F7F8FA;
    --comment-background: #F0F2F5;
    --comment-footer-background: #F6F9FA;
    --dataviz-primary-1: rgb(48, 200, 180);
    --disabled-button-background: #E4E6EB;
    --disabled-icon: #BCC0C4;
    --disabled-text: #BCC0C4;
    --divider: #CED0D4;
    --event-date: #F3425F;
    --filter-accent: invert(39%) sepia(57%) saturate(200%) saturate(200%) saturate(200%) saturate(200%) saturate(200%) saturate(147.75%) hue-rotate(202deg) brightness(97%) contrast(96%);
    --filter-always-white: invert(100%);
    --filter-disabled-icon: invert(80%) sepia(6%) saturate(200%) saturate(120%) hue-rotate(173deg) brightness(98%) contrast(89%);
    --filter-placeholder-icon: invert(59%) sepia(11%) saturate(200%) saturate(135%) hue-rotate(176deg) brightness(96%) contrast(94%);
    --filter-primary-icon: invert(8%) sepia(10%) saturate(200%) saturate(200%) saturate(166%) hue-rotate(177deg) brightness(104%) contrast(91%);
    --filter-secondary-icon: invert(39%) sepia(21%) saturate(200%) saturate(109.5%) hue-rotate(174deg) brightness(94%) contrast(86%);
    --filter-warning-icon: invert(77%) sepia(29%) saturate(200%) saturate(200%) saturate(200%) saturate(200%) saturate(200%) saturate(128%) hue-rotate(359deg) brightness(102%) contrast(107%);
    --filter-blue-link-icon: invert(30%) sepia(98%) saturate(200%) saturate(200%) saturate(200%) saturate(166.5%) hue-rotate(192deg) brightness(91%) contrast(101%);
    --filter-positive: invert(37%) sepia(61%) saturate(200%) saturate(200%) saturate(200%) saturate(200%) saturate(115%) hue-rotate(91deg) brightness(97%) contrast(105%);
    --filter-negative: invert(25%) sepia(33%) saturate(200%) saturate(200%) saturate(200%) saturate(200%) saturate(200%) saturate(200%) saturate(110%) hue-rotate(345deg) brightness(132%) contrast(96%);
    --glimmer-spinner-icon: #65676B;
    --hero-banner-background: #FFFFFF;
    --hosted-view-selected-state: rgba(45, 136, 255, 0.1);
    --highlight-bg: #E7F3FF;
    --hover-overlay: rgba(0, 0, 0, 0.05);
    --media-hover: rgba(68, 73, 80, 0.15);
    --media-inner-border: rgba(0, 0, 0, 0.1);
    --media-outer-border: #FFFFFF;
    --media-pressed: rgba(68, 73, 80, 0.35);
    --messenger-card-background: #FFFFFF;
    --messenger-reply-background: #F0F2F5;
    --overlay-alpha-80: rgba(244, 244, 244, 0.8);
    --overlay-on-media: rgba(0, 0, 0, 0.6);
    --nav-bar-background: #FFFFFF;
    --nav-bar-background-gradient: linear-gradient(to top, #FFFFFF, rgba(255, 255, 255.9), rgba(255, 255, 255, .7), rgba(255, 255, 255, .4), rgba(255, 255, 255, 0));
    --nav-bar-background-gradient-wash: linear-gradient(to top, #F0F2F5, rgba(240, 242, 245.9), rgba(240, 242, 245, .7), rgba(240, 242, 245, .4), rgba(240, 242, 245, 0));
    --negative: hsl(350, 87%, 55%);
    --negative-background: hsl(350, 87%, 55%, 20%);
    --new-notification-background: #E7F3FF;
    --non-media-pressed: rgba(68, 73, 80, 0.15);
    --non-media-pressed-on-dark: rgba(255, 255, 255, 0.3);
    --notification-badge: #F02849;
    --placeholder-icon: #8A8D91;
    --placeholder-text: #8A8D91;
    --placeholder-text-on-media: rgba(255, 255, 255, 0.5);
    --popover-background: #FFFFFF;
    --positive: #31A24C;
    --positive-background: #DEEFE1;
    --press-overlay: rgba(0, 0, 0, 0.10);
    --primary-button-background: #1877F2;
    --primary-button-background-experiment: #1B74E4;
    --primary-button-pressed: #77A7FF;
    --primary-button-text: #FFFFFF;
    --primary-deemphasized-button-background: #E7F3FF;
    --primary-deemphasized-button-pressed: rgba(0, 0, 0, 0.05);
    --primary-deemphasized-button-pressed-overlay: rgba(25, 110, 255, 0.15);
    --primary-deemphasized-button-text: #1877F2;
    --primary-icon: #050505;
    --primary-text: #050505;
    --primary-text-on-media: #FFFFFF;
    --progress-ring-neutral-background: rgba(0, 0, 0, 0.2);
    --progress-ring-neutral-foreground: #000000;
    --progress-ring-on-media-background: rgba(255, 255, 255, 0.2);
    --progress-ring-on-media-foreground: #FFFFFF;
    --progress-ring-blue-background: rgba(24, 119, 242, 0.2);
    --progress-ring-blue-foreground: hsl(214, 89%, 52%);
    --progress-ring-disabled-background: rgba(190, 195, 201, 0.2);
    --progress-ring-disabled-foreground: #BEC3C9;
    --scroll-thumb: #BCC0C4;
    --secondary-button-background: #E4E6EB;
    --secondary-button-background-floating: #ffffff;
    --secondary-button-background-on-dark: rgba(0, 0, 0, 0.4);
    --secondary-button-pressed: rgba(0, 0, 0, 0.05);
    --secondary-button-stroke: transparent;
    --secondary-button-text: #050505;
    --secondary-icon: #65676B;
    --secondary-text: #65676B;
    --secondary-text-on-media: rgba(255, 255, 255, 0.9);
    --section-header-text: #4B4C4F;
    --shadow-1: rgba(0, 0, 0, 0.1);
    --shadow-2: rgba(0, 0, 0, 0.2);
    --shadow-5: rgba(0, 0, 0, 0.5);
    --shadow-8: rgba(0, 0, 0, 0.8);
    --shadow-inset: rgba(255, 255, 255, 0.5);
    --surface-background: #FFFFFF;
    --text-highlight: rgba(24, 119, 242, 0.2);
    --toggle-active-background: #E7F3FF;
    --toggle-active-icon: rgb(24, 119, 242);
    --toggle-active-text: rgb(24, 119, 242);
    --toggle-button-active-background: #E7F3FF;
    --wash: #E4E6EB;
    --web-wash: #F0F2F5;
    --warning: hsl(40, 89%, 52%);
    --header-height: 56px;
    --button-corner-radius: 6px;
    --card-corner-radius: 8px;
    --fds-animation-enter-exit-in: cubic-bezier(0.14, 1, 0.34, 1);
    --fds-animation-enter-exit-out: cubic-bezier(0.45, 0.1, 0.2, 1);
    --fds-animation-swap-shuffle-in: cubic-bezier(0.14, 1, 0.34, 1);
    --fds-animation-swap-shuffle-out: cubic-bezier(0.45, 0.1, 0.2, 1);
    --fds-animation-move-in: cubic-bezier(0.17, 0.17, 0, 1);
    --fds-animation-move-out: cubic-bezier(0.17, 0.17, 0, 1);
    --fds-animation-expand-collapse-in: cubic-bezier(0.17, 0.17, 0, 1);
    --fds-animation-expand-collapse-out: cubic-bezier(0.17, 0.17, 0, 1);
    --fds-animation-passive-move-in: cubic-bezier(0.5, 0, 0.1, 1);
    --fds-animation-passive-move-out: cubic-bezier(0.5, 0, 0.1, 1);
    --fds-animation-quick-move-in: cubic-bezier(0.1, 0.9, 0.2, 1);
    --fds-animation-quick-move-out: cubic-bezier(0.1, 0.9, 0.2, 1);
    --fds-animation-fade-in: cubic-bezier(0, 0, 1, 1);
    --fds-animation-fade-out: cubic-bezier(0, 0, 1, 1);
    --fds-duration-extra-extra-short-in: 100ms;
    --fds-duration-extra-extra-short-out: 100ms;
    --fds-duration-extra-short-in: 200ms;
    --fds-duration-extra-short-out: 150ms;
    --fds-duration-short-in: 280ms;
    --fds-duration-short-out: 200ms;
    --fds-duration-medium-in: 400ms;
    --fds-duration-medium-out: 350ms;
    --fds-duration-long-in: 500ms;
    --fds-duration-long-out: 350ms;
    --fds-duration-extra-long-in: 1000ms;
    --fds-duration-extra-long-out: 1000ms;
    --fds-duration-none: 0ms;
    --fds-fast: 200ms;
    --fds-slow: 400ms;
    --font-family-apple: system-ui, -apple-system, BlinkMacSystemFont, '.SFNSText-Regular', sans-serif;
    --font-family-default: Helvetica, Arial, sans-serif;
    --font-family-segoe: Segoe UI Historic, Segoe UI, Helvetica, Arial, sans-serif;
    --dataviz-primary-2: rgb(134, 218, 255);
    --dataviz-primary-3: rgb(95, 170, 255);
    --dataviz-secondary-1: rgb(118, 62, 230);
    --dataviz-secondary-2: rgb(147, 96, 247);
    --dataviz-secondary-3: rgb(219, 26, 139);
    --dataviz-supplementary-1: rgb(255, 122, 105);
    --dataviz-supplementary-2: rgb(241, 168, 23);
    --dataviz-supplementary-3: rgb(49, 162, 76);
    --dataviz-supplementary-4: rgb(50, 52, 54);
}

.post-image {
    width: 100%;
    max-width: 100%;
}

.rev-img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-right: 10px;
}

@font-face {
    font-family: 'Segoe UI Historic';
    src: local('Arial');
    unicode-range: U+530-5f4, U+10a0-10ff
}

@font-face {
    font-family: 'Segoe UI Historic';
    font-weight: 700;
    src: local('Arial Bold'), local('Arial');
    unicode-range: U+530-5f4, U+10a0-10ff
}

@font-face {
    font-family: 'Fix for Mac Chrome 80';
    font-weight: 500;
    src: local('Lucida Grande');
    unicode-range: U+530-5f4, U+10a0-10ff
}

.b5ifovcx {
    transform: scaleY(0)
}

.esuyzwwr {
    text-decoration: none
}

.iuq35hgr {
    transform: translateX(24px) translateZ(0)
}

.lzcic4wl {
    outline: none
}

.p7hjln8o {
    list-style: none
}

.auili1gw {
    border-width: 0
}

.ow4ym5g4 {
    border-style: solid
}

.e9989ue4 {
    border-bottom: 0
}

.esr5mh6w {
    border-right: 0
}

.l6v480f0 {
    border-top: 1px solid var(--divider)
}

.qu0x051f {
    border-top: 0
}

.r7d6kgcz {
    border-left: 0
}

.s1tcr66n {
    border-bottom: 1px solid var(--divider)
}

.agehan2d {
    border-bottom-width: 0
}

.b74d5cxt {
    border-left-color: var(--card-background)
}

.ccm00jje {
    border-right-style: solid
}

.et4y5ytx {
    border-right-color: var(--card-background)
}

.goun2846 {
    border-top-style: solid
}

.j7g94pet {
    border-bottom-color: var(--card-background)
}

.k0bpgpbk {
    border-left-width: 2px
}

.mk2mc5f4 {
    border-left-style: solid
}

.mtkw9kbi {
    border-top-color: var(--always-dark-overlay)
}

.n8ej3o3l {
    border-right-width: 0
}

.np69z8it {
    border-top-color: var(--card-background)
}

.ppp5ayq2 {
    border-left-color: var(--always-dark-overlay)
}

.qensuy8j {
    border-bottom-color: var(--always-dark-overlay)
}

.qtyiw8t4 {
    border-right-width: 2px
}

.qxh1up0x {
    border-top-width: 2px
}

.rt8b4zig {
    border-top-width: 0
}

.s44p3ltw {
    border-bottom-style: solid
}

.sk4xxmp2 {
    border-left-width: 0
}

.tlpljxtp {
    border-right-color: var(--always-dark-overlay)
}

.tpcyxxvw {
    border-bottom-width: 2px
}

.a0vgkybk {
    bottom: -6px
}

.a3bd9o3v {
    line-height: 1.3333
}

.a5nuqjux {
    min-width: 40px
}

.a6sixzi8 {
    align-items: inherit
}

.a8c37x1j {
    display: block
}

.a8nywdso {
    padding-left: 0
}

.a8s20v7p {
    display: inherit
}

.aahdfvyu {
    margin-top: 4px
}

.aaoq3grb {
    transition-property: padding
}

.abiwlrkh {
    -webkit-user-select: none
}

.abs2jz4q {
    align-self: inherit
}

.aj8hi1zk {
    -webkit-appearance: textfield
}

.akjuzmll {
    border-top-right-radius: 1px
}

.aovydwv3 {
    align-items: flex-end
}

.arfg74bv {
    border-top-right-radius: inherit
}

.art1omkt {
    transition-property: opacity
}

.b3i9ofy5 {
    background-color: var(--comment-background)
}

.b3onmgus {
    padding-left: 4px
}

.b40mr0ww {
    padding-bottom: 13px
}

.b4ylihy8 {
    padding-top: 13px
}

.b5wmifdl {
    opacity: 0
}

.b7h9ocf4 {
    transition-timing-function: var(--fds-soft)
}

.be9z9djy {
    top: var(--header-height)
}

.bipmatt0 {
    height: inherit
}

.bkfpd7mw {
    justify-content: flex-end
}

.bkmhp75w {
    border-bottom-right-radius: 50%
}

.bp9cbjyn {
    align-items: center
}

.br7hx15l {
    border-top-left-radius: 50px
}

.btwxx1t3 {
    flex-direction: row
}

.bub6lnnc {
    border-top-left-radius: 1px
}

.buofh1pr {
    flex-grow: 1
}

.byvelhso {
    height: var(--header-height)
}

.bzsjyuwj {
    float: left
}

.c1et5uql {
    word-wrap: break-word
}

.c5ndavph {
    transition-duration: var(--fds-duration-extra-extra-short-out)
}

.cbu4d94t {
    flex-direction: column
}

.cddn0xzi {
    background-color: var(--nav-bar-background)
}

.ce9h75a5 {
    max-height: 1.3333em
}

.cebpdrjk {
    justify-content: inherit
}

.ciadx1gn {
    width: 28px
}

.cwj9ozl2 {
    background-color: var(--card-background)
}

.cxgpxx05 {
    padding-top: 8px
}

.cxmmr5t8 {
    margin-right: 0
}

.d1544ag0 {
    padding-right: 12px
}

.d2edcug0 {
    max-width: 100%
}

.d82f96u3 {
    min-width: 19px
}

.dati1w0a {
    padding-left: 16px
}

.datstx6m {
    height: 100%
}

.dflh9lhu {
    padding-right: 8px
}

.dhix69tm {
    margin-left: 16px
}

.dhp61c6y {
    min-width: inherit
}

.dlv3wnog {
    margin-right: -4px
}

.do00u71z {
    height: 0
}

.dp1hu0rb {
    min-height: inherit
}

.du4w35lb {
    z-index: 0
}

.dwo3fsh8 {
    -webkit-appearance: none
}

.e5nlhep0 {
    padding-bottom: 4px
}

.e72ty7fz {
    border-top-left-radius: 18px
}

.e9vueds3 {
    font-size: .8125rem
}

.ecm0bbzt {
    padding-top: 4px
}

.ed597pkb {
    border-bottom-right-radius: 11px
}

.ehxjyohh {
    z-index: 3
}

.ekzkrbhg {
    font-weight: 500
}

.em6zcovv {
    fill: var(--secondary-icon)
}

.emlxlaya {
    border-top-right-radius: 50%
}

.evds00iz {
    left: 26px
}

.ew0dbk1b {
    margin-bottom: -5px
}

.ez2duhqw {
    padding-left: 36px
}

.f1sip0of {
    touch-action: manipulation
}

.fbipl8qg {
    border-bottom-right-radius: var(--card-corner-radius)
}

.fcg2cn6m {
    top: 12px
}

.flx89l3n {
    transition-property: transform
}

.fwizqjfa {
    width: 12px
}

.fzdkajry {
    fill: var(--primary-icon)
}

.g0aa4cga {
    clip-path: polygon(0 0, 0 0, 0 0, 0 0)
}

.g0qnabr5 {
    white-space: nowrap
}

.g3xnvtyb {
    background-repeat: repeat-x
}

.g5gj957u {
    flex-shrink: 1
}

.g5ia77u1 {
    background-color: transparent
}

.gjzvkazv {
    width: 100px
}

.gky8063y {
    background-color: var(--notification-badge)
}

.gmql0nx0 {
    color: inherit
}

.gs1a9yip {
    align-items: stretch
}

.gtad4xkn {
    margin-left: 7px
}

.h2jyy9rg {
    border-top-right-radius: 50px
}

.h5g66v2i {
    left: 20px
}

.h676nmdw {
    margin-left: 8px
}

.h905i5nu {
    border-top-right-radius: 0
}

.hcukyx3x {
    margin-left: 0
}

.hddg9phg {
    margin-top: -6px
}

.hm271qws {
    height: 18px
}

.hmalg0qr {
    top: 1px
}

.hpfvmrgz {
    min-width: 0
}

.hu5pjgll {
    vertical-align: -0.25em
}

.hv4rvrfc {
    padding-right: 16px
}

.hwnh5xvq {
    padding-bottom: 9px
}

.hwsy1cff {
    transition-property: fill, stroke
}

.hybvsw6c {
    background-color: var(--surface-background)
}

.hyh9befq {
    padding-left: 2px
}

.hzawbc8m {
    text-align: left
}

.hzruof5a {
    pointer-events: none
}

.i09qtzwb {
    bottom: 0
}

.i1ao9s8h {
    text-align: inherit
}

.i1fnvgqd {
    justify-content: space-between
}

.ihqw7lf3 {
    padding-bottom: 16px
}

.ihxqhq3m {
    font-family: inherit
}

.ijkhr0an {
    transition-duration: var(--fds-duration-extra-extra-short-in)
}

.inkptoze {
    border-bottom-right-radius: 18px
}

.io0zqebd {
    border-top-left-radius: var(--card-corner-radius)
}

.ipjc6fyt {
    padding-top: 6px
}

.irj2b8pg {
    margin-top: -5px
}

.iuny7tx3 {
    padding-bottom: 6px
}

.iyyx5f41 {
    width: inherit
}

.j1lvzwm4 {
    vertical-align: top
}

.j2ut9x2k {
    border-bottom-right-radius: 100px
}

.j6sty90h {
    border-bottom-right-radius: 9px
}

.j83agx80 {
    display: flex
}

.j9ispegn {
    left: 0
}

.ja2t1vim {
    margin-left: -100px
}

.jb3vyjys {
    padding-top: 0
}

.jgljxmt5 {
    min-height: calc(100vh - var(--header-height))
}

.jiuqdcnw {
    line-height: 1
}

.jktsbyx5 {
    padding-top: 10px
}

.jm1wdb64 {
    word-wrap: break-word
}

.jnigpg78 {
    height: 20px
}

.jos75b7i {
    border-top-right-radius: 9px
}

.jq4qci2q {
    font-size: .9375rem
}

.jxrgncrl {
    padding-right: 5px
}

.k4urcfbm {
    width: 100%
}

.k5wvi7nf {
    flex-direction: inherit
}

.k77z8yql {
    border-bottom-left-radius: inherit
}

.kavbgo14 {
    z-index: 2
}

.kb8x4rkr {
    border-top-right-radius: 11px
}

.knj5qynh {
    font-weight: normal
}

.knvmm38d {
    margin-top: 5px
}

.kr520xx4 {
    top: 0
}

.kv0toi1t {
    border-bottom-left-radius: 9px
}

.kvgmc6g5 {
    margin-top: 0
}

.l3d94uoy {
    will-change: width
}

.l3itjdph {
    white-space: normal
}

.l60d2q6s {
    padding-top: 7px
}

.l82x9zwi {
    border-bottom-left-radius: 8px
}

.l94mrbxd {
    font-size: inherit
}

.l9j0dhe7 {
    position: relative
}

.ljqsnud1 {
    color: var(--always-white)
}

.ll8tlv6m {
    align-items: flex-start
}

.lr9zc1uh {
    font-family: var(--font-family-segoe)
}

.lrazzd5p {
    font-weight: 600
}

.lthxh50u {
    right: 2px
}

.ltmttdrg {
    text-overflow: ellipsis
}

.lzf7d6o1 {
    -webkit-filter: var(--filter-primary-icon)
}

.m5lcvass {
    border-top-right-radius: var(--card-corner-radius)
}

.m6k467ps {
    -webkit-filter: var(--filter-secondary-icon)
}

.m9osqain {
    color: var(--secondary-text)
}

.mg4g778l {
    flex-basis: auto
}

.monazrh9 {
    border-top-left-radius: 0
}

.ms05siws {
    transition-duration: var(--fds-fast)
}

.mysgfdmx {
    margin-bottom: -6px
}

.n00je7tq {
    border-top-left-radius: inherit
}

.n3ddgdk9 {
    border-bottom-right-radius: 50px
}

.n7fi1qx3 {
    right: 0
}

.n851cfcs {
    margin-bottom: 12px
}

.n8tt0mok {
    padding-right: 2px
}

.nc684nl6 {
    display: inline
}

.nezaghv5 {
    top: -8px
}

.nhd2j8a9 {
    cursor: pointer
}

.ni8dbmo4 {
    overflow-x: hidden
}

.nkwizq5d {
    margin-right: -2px
}

.nqmvxvec {
    align-self: flex-start
}

.nwvqtn77 {
    border-bottom-left-radius: var(--card-corner-radius)
}

.o5zgeu5y {
    min-width: 50px
}

.oajrlxb2 {
    -webkit-tap-highlight-color: transparent
}

.odw8uiq3 {
    width: 20px
}

.oh7imozk {
    width: 500px
}

.oi9244e8 {
    margin-right: 8px
}

.ojvp67qx {
    padding-right: 110px
}

.omcyoz59 {
    border-bottom-left-radius: 11px
}

.omvj5yrc {
    height: 19px
}

.oo9gr5id {
    color: var(--primary-text)
}

.ooasylqa {
    height: 7px
}

.ooia0uwo {
    width: 112px
}

.ormqv51v {
    top: -2px
}

.osnr6wyh {
    padding-bottom: 10px
}

.ot9fgl3s {
    transition-timing-function: var(--fds-animation-fade-out)
}

.ov9facns {
    width: 18px
}

.owwhemhu {
    max-width: inherit
}

.owxd89k7 {
    border-bottom-left-radius: 50px
}

.owycx6da {
    flex-wrap: nowrap
}

.oygrvhab {
    margin-bottom: 0
}

.ozuftl9m {
    margin-left: 12px
}

.p1jhd9yy {
    background-size: 1px 7px
}

.p1ri9a11 {
    font-weight: inherit
}

.p1ueia1e {
    height: 22px
}

.p361ku9c {
    fill: var(--always-white)
}

.p4hiznlx {
    border-bottom-left-radius: 100px
}

.pcp91wgn {
    padding-left: 6px
}

.pfnyh3mw {
    flex-shrink: 0
}

.ph5uu5jm {
    padding-right: 4px
}

.pk4s997a {
    flex-shrink: inherit
}

.pmk7jnqg {
    position: absolute
}

.pmqtw6m8 {
    height: 3px
}

.pnx7fd3z {
    transition-property: opacity, transform
}

.poy2od1o {
    position: fixed
}

.pphx12oy {
    right: 6px
}

.pq6dq46d {
    display: inline-flex
}

.px9q9ucb {
    border-top-right-radius: 100px
}

.pybr56ya {
    padding-top: 12px
}

.pzggbiyp {
    vertical-align: bottom
}

.q10oee1b {
    max-width: 100vw
}

.q3lfd5jv {
    flex-grow: inherit
}

.q45zohi1 {
    clip: rect(0, 0, 0, 0)
}

.q676j6op {
    width: 40px
}

.q9uorilb {
    display: inline-block
}

.qlfml3jp {
    border-top-right-radius: 18px
}

.qmr60zad {
    border-bottom-left-radius: 18px
}

.qnrpqo6b {
    padding-left: 5px
}

.qowsmv63 {
    max-height: inherit
}

.qs9ysxi8 {
    border-bottom-right-radius: inherit
}

.qt6c0cv9 {
    padding-bottom: 0
}

.qu8okrzs {
    height: 44px
}

.qv66sw1b {
    word-break: break-word
}

.qw6c0r16 {
    border-top-left-radius: 11px
}

.qypqp5cg {
    height: 40px
}

.qzhwtbm6 {
    margin-bottom: 5px
}

.rj1gh0hx {
    flex-basis: 0px
}

.rl04r1d5 {
    margin-left: -4px
}

.rl25f0pe {
    flex-direction: row-reverse
}

.rnr61an3 {
    background-color: var(--hover-overlay)
}

.rnx8an3s {
    left: 12px
}

.roh60bw9 {
    margin-left: -2px
}

.rozst971 {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAAOBAMAAAD3WtBsAAAAFVBMVEUAAAAAAAAAAAAAAAAAAAAAAAD29va1cB7UAAAAB3RSTlMCCwQHGBAaZf6MKAAAABpJREFUCNdjSGNIY3BhCGUQBEJjIFQCQigAACyJAjLNW4w5AAAAAElFTkSuQmCC)
}

.rq0escxv {
    box-sizing: border-box
}

.rz4wbd8a {
    padding-right: 0
}

.s1i5eluu {
    background-color: var(--primary-button-background)
}

.s45kfl79 {
    border-top-left-radius: 50%
}

.sbcfpzgs {
    --T68779821: 0 1px 2px var(--shadow-2);
    -webkit-box-shadow: var(--T68779821);
    box-shadow: 0 1px 2px var(--shadow-2)
}

.scb9dxdr {
    padding-left: 8px
}

.sgn1ogh8 {
    top: -6px
}

.sgqwj88q {
    transition-timing-function: linear
}

.sibfvsnu {
    border-top-left-radius: 100px
}

.sj5x9vvc {
    padding-bottom: 8px
}

.spb7xbtv {
    border-bottom-left-radius: 50%
}

.stjgntxs {
    overflow-y: hidden
}

.t0qjyqq4 {
    border-top-left-radius: 9px
}

.t1p8iaqh {
    flex-basis: inherit
}

.taijpn5t {
    justify-content: center
}

.tdjehn4e {
    background-color: var(--secondary-button-background)
}

.tgvbjcpo {
    min-height: 0
}

.thodolrn {
    padding-left: 110px
}

.thwo4zme {
    width: 36px
}

.tkr6xdv7 {
    z-index: 1
}

.tkxwya3v {
    left: 2px
}

.to382e16 {
    max-width: 129.6px
}

.tojvnm2t {
    align-content: inherit
}

.tr9rh885 {
    margin-top: 16px
}

.tt24zdws {
    transform-origin: center bottom
}

.tvfksri0 {
    margin-right: 12px
}

.tvmbv18p {
    margin-bottom: 4px
}

.tw6a2znq {
    padding-left: 12px
}

.uo3d90p7 {
    border-bottom-right-radius: 8px
}

.wkznzc2l {
    margin-right: 16px
}

@media (min-height: 700px) and (max-height: 789px) {
    .abvwweq7.abvwweq7 {
        width: 590px
    }
}

.aigsh9s9::before {
    height: 0
}

.ar1oviwq::after {
    right: -8px
}

.bjz44bnn::before {
    opacity: 0
}

@media (max-width: 700px) {
    .bqdfd6uv.bqdfd6uv {
        justify-content: flex-start
    }
}

.bqnlxs5p::after {
    border-top-right-radius: 50%
}

@media (max-width: 1099px) {
    .bx45vsiw.bx45vsiw {
        display: none
    }
}

.c24pa1uk::after {
    border-bottom-left-radius: 50%
}

.c8b282yb::after {
    height: 0
}

.d3f4x2em::before {
    margin-top: -5px
}

@media (max-width: 1099px) {
    .dawyy4b1.dawyy4b1 {
        max-width: calc(15vw - 55px)
    }
}

@media (max-width: 1259px) {
    .dzqu5etb.dzqu5etb {
        padding-left: 24px
    }
}

@media (min-height: 790px) {
    .ejjq64ki.ejjq64ki {
        width: 680px
    }
}

@media (min-width: 1260px) {
    .ekbqdzos.ekbqdzos {
        width: 360px
    }
}

.ex9rxw2n::before {
    left: 0
}

.fe6kdd0r::after {
    content: ""
}

@media (max-width: 700px) {
    .hw7htvoc.hw7htvoc {
        display: none
    }
}

.iu8raji3::-ms-clear {
    display: none
}

.iv3no6db::after {
    margin-bottom: -4px
}

@media (min-width: 1100px) and (max-height: 789px),(min-width: 1100px) and (max-width: 1379px) {
    .jrc8bbd0.jrc8bbd0 {
        max-width: 111.6px
    }
}

@media (min-width: 1100px) {
    .k5e9hw6w.k5e9hw6w {
        display: none
    }
}

.kd8v7px7::-webkit-search-cancel-button {
    -webkit-appearance: none
}

.keod5gw0::before {
    content: ""
}

.kf6kxqaw::before {
    position: absolute
}

.kkg9azqs::after {
    border-bottom-right-radius: 50%
}

.l10q8mi9::after {
    position: absolute
}

.ln9iyx3p::after {
    bottom: -8px
}

.m07ooulj::-webkit-search-results-button {
    -webkit-appearance: none
}

.mau55g9w::after {
    display: block
}

.mzan44vs::-webkit-search-results-decoration {
    -webkit-appearance: none
}

.nxhoafnm::before {
    display: block
}

.owhxnkwg::before {
    top: 0
}

.p9906w3d::before {
    bottom: 0
}

.pdjglbur::after {
    z-index: 1
}

.pkj7ub1o::after {
    border-top-left-radius: 50%
}

.r4fl40cc::-webkit-search-decoration {
    -webkit-appearance: none
}

@media (max-width: 1259px) {
    .rmlgq0sb.rmlgq0sb {
        cursor: pointer
    }
}

.rp3cc1xn::before {
    --T68779821: 0 12px 12px var(--shadow-2), inset 0 0 0 0 var(--shadow-inset);
    -webkit-box-shadow: var(--T68779821);
    box-shadow: 0 12px 12px var(--shadow-2), inset 0 0 0 0 var(--shadow-inset)
}

.rpedc2ei::before {
    right: 0
}

.s8quxz6p::after {
    top: -8px
}

.sq40qgkc::after {
    left: -8px
}

.gpro0wi8:hover {
    text-decoration: underline
}

.p8dawk7l:hover {
    text-decoration: none
}

.hdh3q7d8:focus::-webkit-input-placeholder {
    color: var(--placeholder-text)
}

.e70eycc3:disabled {
    color: var(--disabled-text)
}

.hidtqoto:disabled {
    cursor: not-allowed
}

.b1f16np4::-webkit-input-placeholder {
    color: var(--secondary-text)
}

label {
    color: #606770;
    cursor: default;
    font-weight: 600;
    vertical-align: middle
}

label input {
    font-weight: normal
}

input {
    background-color: #fff;
    color: #1c1e21
}

html {
    touch-action: manipulation
}

body {
    background: #fff;
    color: #1c1e21;
    direction: ltr;
    line-height: 1.34;
    margin: 0;
    padding: 0;
    unicode-bidi: embed
}

body, input, label {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px
}

h2 {
    color: #1c1e21;
    font-size: 13px;
    font-weight: 600;
    margin: 0;
    padding: 0
}

p {
    margin: 1em 0
}

b, strong {
    font-weight: 600
}

a {
    color: #385898;
    cursor: pointer;
    text-decoration: none
}

a:hover {
    text-decoration: underline
}

img {
    border: 0
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0
}

*::-webkit-input-placeholder {
    color: #606770
}

*:focus::-webkit-input-placeholder {
    color: #bec3c9
}

body {
    overflow-y: scroll
}

._6s5d {
    background-color: var(--web-wash);
    -webkit-font-smoothing: antialiased;
    overscroll-behavior-y: none
}

@media (prefers-reduced-motion: reduce) {
    ._6s5d :not(.always-enable-animations) {
        animation-duration: 0 !important;
        animation-name: none !important;
        transition-duration: 0 !important;
        transition-property: none !important
    }
}
